<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel1">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="inputNombre" class="col-sm-3 col-form-label">Nombres</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputNombre">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputApellidos" class="col-sm-3 col-form-label">Apellidos</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputApellidos">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword1" class="col-sm-3 col-form-label">Repetir Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword1">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-guardar">Guardar</button>
        </div>
      </div>
    </div>
  </div>
